*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: black;

}

.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white ;
    padding-left: 50px;
}

.navbar a{
    text-decoration: none;
    color: white;
    padding-right: 50px;
}

.navbar a:hover{
    color: red;
    
}

.poster img{
    width: 100%;
    align-items: center;   

}
.next-navbar{
    display: flex;
    justify-content: space-between;
     align-items: center;
     color: white;
     padding-left: 50px;
     margin-top: 30px;
    
}
.bot{
    padding-right: 30px;
}
.but{
   padding: 8px;
 border: 1px solid white;
 border-radius: 15px;

}

.bot button:hover{
color: red;

}



