*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: black;
}

.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white ;
    padding-left: 50px;
}

.navbar a{
    text-decoration: none;
    color: white;
    padding-right: 50px;
}

.navbar a:hover{
    color: red;
    
}

.poster img{
    width: 1405px;
    align-items: center;   

}
.next-navbar{
    display: flex;
    justify-content: space-between;
     align-items: center;
     color: white;
     padding-left: 50px;
    
}
.but{
   padding-right: 100px;
   gap: 20px;
  color: white;
 
}
.but button:hover{
    color: red;
    
}